@{
    PageData["title"] = "AngularJS SPA | Forgot Password";
}
<div class="row">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="forgotPassword()">
        <div class="alert alert-success" role="alert" ng-show="ShowMessage"> Se ha enviado un correo de recuperacion a tu cuenta</div>
        <h2 class="text-center">Recuperar Password</h2>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="user.Email" type="text" class="form-control" placeholder="Correo Electronico" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Recuperar Clave</button>
                <a class="btn btn-primary btn-block" href="/login"> Regresar A Login</a>
            </div>
        </div>
    </form>
</div>