<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h1 class="text-center text-success">
                Mis Ligas.
            </h1>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <h3>
                        Bienvenido Carlos
                    </h3>
                </div>
                <div class="col-md-6 column">
                    <a class="btn btn-lg btn-primary btn-block" href="/login">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <blockquote>
                <p>
                    Haz click sobre el nombre de cualquiera de tus ligas y realiza predicciones de sus partidos.
                </p>
            </blockquote>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img alt="140x140" src="http://lorempixel.com/140/140/" />
                </div>
                <div class="col-md-6 column">
                    <ul>
                        <li>
                            UserName: CarlosEscobar
                        </li>
                        <li>
                            Email: cai_escobar@hotmail.com
                        </li>
                        <li>
                            Predicting Since: 15/07/2014
                        </li>
                        <li>
                            Numero De Aciertos: 12
                        </li>
                        <li>
                            Telefono: 9921-8329
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID Liga
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Fecha Inicio
                        </th>
                        <th>
                            Numero de Equipos
                        </th>
                        <th>
                            Numero de Partidos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lig in myLigas">
                        <td>{{lig.id_liga}}</td>
                        <td><a class="btn-link" href="/league/{{lig.id_liga}}">{{lig.nombre}}</a></td>
                        <td>{{lig.fecha_inicio}}</td>
                        <td>{{lig.num_equipos}}</td>
                        <td>{{lig.num_partidos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 column">
            <h4>
                Animate! Y busca y registrate a nuevas Ligas.
            </h4>
            <div class="input-group">
                <button class="btn btn-success btn-block" type="button">Buscar</button>
                <input ng-model="Buscar.nombre" type="text" class="form-control" placeholder="Buscar Liga" />
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="liga in Ligas | filter:Buscar">
                        <td>
                            {{liga.nombre}}
                            <button ng-click="Register(liga.id_liga)" class="btn btn-warning pull-right">
                                <i class="glyphicon glyphicon-ok-sign"></i> Registrarse
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>